@*


*@

@{}

<script src="http://code.angularjs.org/1.0.5/angular.js"></script>

<script>
    var app = angular.module('upiApp', []);
    app.controller('ptController', function ($scope, $http) {
        $scope.propTypes = [
            { text: "Real Property", code: "R" },
            { text: "Stock Coop, Apartment, ...", code: "S" },
            { text: "Temp Designation", code: "T" }
        ];

        $scope.buildUpi = function () {
            $scope.Upi = 'UPI: ';
            if ($scope.selectedCountry) {
                $scope.Upi += $scope.selectedCountry;
            }
            else return;

            if ($scope.selectedState) {
                $scope.Upi += '-' + $scope.selectedState.code;
            }
            else return;

            if ($scope.selectedCounty) {
                $scope.Upi += $scope.selectedCounty.code;
            }
            else return;

            if ($scope.selectedSubCounty) {
                $scope.Upi += '-' + $scope.selectedSubCounty.code;
            }
            else return;

            if ($scope.propertyType) {
                $scope.Upi += '-' + $scope.propertyType.code;
                if ($scope.propertyType.code == 'R') {
                    $scope.propId = 'N';
                }
            }
            else return;

            if ($scope.apn) {
                $scope.Upi += '-' + $scope.apn.replace(/[^0-9a-z]/gi, '').toUpperCase();
            }
            else return;

            //if ($scope.propertyType.code != 'R') {
                if ($scope.propId)
                    $scope.Upi += '-' + $scope.propId.replace(/[^0-9a-z]/gi, '').toUpperCase();
            //}
        }

        $scope.allStates = null;

        //Declaring the function to load data from database
        $scope.fillStateList = function () {
            $http({
                method: 'GET',
                url: '/api/fips',
                data: {}
            }).success(function (result) {
                $scope.allStates = result;
                $scope.selectedState = null;
                $scope.selectedCounty = null;
                $scope.buildUpi();
            });
        };

        $scope.fillCountyList = function (state) {

            $scope.selectedCounty = null;

            $http({
                method: 'GET',
                url: '/api/fips/' + state,
                data: {}
            }).success(function (result) {
                $scope.countiesList = result;

                if ($scope.countiesList.length == 1) {
                    // help the user if there is only one selection
                    $scope.selectedCounty = $scope.countiesList[0];
                    $scope.fillSubCountyList($scope.selectedState.code, $scope.selectedCounty.code)
                }
                else {
                    $scope.subCountiesList = null;
                }

                $scope.buildUpi();
            });
        };

        $scope.fillSubCountyList = function (state, county) {
            $http({
                method: 'GET',
                url: '/api/fips/' + state + '/' + county,
                data: {}
            }).success(function (result) {
                $scope.subCountiesList = result;
                $scope.selectedSubCounty = $scope.subCountiesList[0];
                $scope.buildUpi();
            });
        };

        $scope.fillStateList();

    });
</script>

<h2>Universal Property Identifier</h2>

<div ng-app="upiApp" ng-controller="ptController" >
    <div class="form-horizontal">
        <h4>Builder</h4>

        <div class="form-group">
            <label class="col-md-2 control-label">Country:</label>
            <div class="col-md-10">
                <select ng-model="selectedCountry" 
                        ng-init="selectedCountry = 'US'"
                        ng-change="buildUpi()" 
                        class="form-control">
                    <option value="US" selected>US</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">State (FIPS):</label>
            <div class="col-md-10">
                <select ng-model="selectedState"
                        ng-change="fillCountyList(selectedState.code)"
                        ng-options="x.name for x in allStates"
                        class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">County (FIPS):</label>
            <div class="col-md-10">
                <select ng-model="selectedCounty"
                        ng-change="fillSubCountyList(selectedState.code, selectedCounty.code)"
                        ng-options="x.name for x in countiesList"
                        class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Subcounty (FIPS):</label>
            <div class="col-md-10">
                <select ng-model="selectedSubCounty"
                        ng-change="buildUpi()" 
                        ng-options="x.name for x in subCountiesList"
                        class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Property Type:</label>
            <div class="col-md-10">
                <select ng-model="propertyType"
                        ng-init="propertyType = propTypes[0]"
                        ng-change="buildUpi()" 
                        ng-options="t.text for t in propTypes" 
                        class="form-control ">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Parcel Number:</label>
            <div class="col-md-10">
                <input type=text 
                       ng-model="apn" 
                       ng-change="buildUpi()" 
                       class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Sub Property:</label>
            <div class="col-md-10">
                <input type=text 
                       ng-model="propId" 
                       ng-change="buildUpi()"
                       class="form-control" 
                       ng-disabled="propertyType.code=='R'" >
            </div>
        </div>
        
        <H3>{{Upi}}</H3>

    </div>
</div>
